.footer {
    float: right;
    padding:0 auto;
    margin-top: 0;
}

.el-upload__text {
    font-size: 100px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.el-upload__tip {
    float:top;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.promptMsg {
    font-size: 12px;
    text-align: left;
    line-height: 30px;
}
